/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* MARGIN 1200 */
.margin-1200 {
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */
#header {
    height: 700px;
    background: url(img/bg_header.svg);
    background-size: cover ;
}

/* NAVIGASI BAR */

.navigasi {
    width: 100%;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
}

.navigasi ul {
    display: flex;
    float: right;
    padding-top: 10px;
}

.navigasi ul li {
    list-style-type: none;
    text-decoration: none;
    margin-right: 40px;
}

.navigasi ul li a {
    text-decoration: none;
    color: black;
}

.navigasi .btn-contact {
    float: right;
    margin-top: 3px;
}

.navigasi img {
    width: 40px;
    vertical-align: middle;
    margin-right: 20px;
}

/* BUTTON NAVIGASI BAR */
.btn-contact {
    padding: 7px 30px 7px 30px;
    background: #5CB6FF;
    color: white;
    text-decoration: none;
    border-radius: 14px;
}

/* ISI HEADER */
.main {
    float: left;
    margin-top: 130px;
}

.thin {
    font-size: 17px;
    font-weight: 400;
}

.big {
    font-size: 40px;
    font-weight: bold;
}

.thin2 {
    font-weight: 300;
    margin-top: -10px;
}

.main p {
    font-size: 12px;
    margin-top: 20px;
    font-weight: 300;
    width: 50%;
    margin-bottom: 20px;
}

/* ORANG */
.person {
    height: 560px;
    float: right;
    margin: -320px 100px 0 0;
}

/* BUTTON MAIN */
.btn-header-left {
    padding: 7px 30px 7px 30px;
    background: #5CB6FF;
    color: white;
    font-size: 13px;
    text-decoration: none;
    border-radius: 14px;
    margin-right: 20px ;
}

.btn-header-right {
    padding: 7px 30px 7px 30px;
    color: #5CB6FF;
    border: 2px #5CB6FF solid;
    text-decoration: none;
    border-radius: 14px;
    font-size: 13px;
    margin-top: 20px;
}

.btn-header-right i{
    margin-right: 14px;
}
/* ABOUT ME */
#about-me {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
}

.left-desc {
    float: left;
    position: absolute;
    margin-top:-100px;
}

.right-desc {
    float: right;
}

/* LEFT DESCRIPTION */
.bold {
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
    font-size: 40px;
}

.left-desc p {
    font-size: 12px;
    margin-top: 20px;
    font-weight: 300;
    width: 50%;
    margin-bottom: 20px;
}

/* RIGHT DESCRIPTION */
.right-desc img {
    width: 400px;
    border-radius: 20px;
}

/* STAR CHECK */
.checked {
    color: orange;
  }

/* BUTTON LEFT DESCRIPTION */
.btn-left-desc {
    padding: 6px 30px 6px 30px;
    background: #5CB6FF;
    margin-right: 30px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-left-desc2 {
    padding: 6px 30px 6px 30px;
    margin-right: 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.btn-left-desc2 i {
    margin-left: 20px;
}

.btn-left-desc:hover {
    -webkit-box-shadow: 0 20px 30px #b7b7b7;
    -moz-box-shadow: 0 20px 30px #b7b7b7;
    box-shadow: 10px 20px 33px #b7b7b7;
}

.btn-left-desc2:hover {
    -webkit-box-shadow: 0 20px 30px #b7b7b7;
    -moz-box-shadow: 0 20px 30px #b7b7b7;
    box-shadow: 10px 20px 33px #b7b7b7;
}


/* Social Media */
.social-media a {
    color: white;
    text-decoration: none;
    padding: 6px 30px 6px 30px;
    background: #5CB6FF;
    border-radius: 14px;
    font-size: 14px;
    margin-right: 20px;
    transition: 0.3s ease-out;
}

.social-media a:hover {
    background: #0c5896;
}

.social-media a i {
    margin-right: 7px;
}

.title-social {
    margin: 40px 0 20px 0;
}

/* SKILL ANIMATION */
.title1 {
    margin: 50px 0 10px 20px;
}

.skill-bar2  {
    height: 15px;
    width: 0;
    background: #0c5896;
    border-radius: 200px;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.skill-bar  {
    height: 15px;
    width: 700px;
    background: #5CB6FF;
    border-radius: 200px;
}

.skill-bar2 {
    animation-name: html;
}

@keyframes html {
    to {
        width: 550px;
    }
}

.css2  {
    height: 15px;
    width: 0;
    background: #0c5896;
    border-radius: 200px;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.css  {
    height: 15px;
    width: 700px;
    background: #5CB6FF;
    border-radius: 200px;
}

.css2 {
    animation-name: css;
}

@keyframes css {
    to {
        width: 500px;
    }
}

.js2  {
    height: 15px;
    width: 0;
    background: #0c5896;
    border-radius: 200px;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.js  {
    height: 15px;
    width: 700px;
    background: #5CB6FF;
    border-radius: 200px;
}

.js2 {
    animation-name: js;
}

@keyframes js {
    to {
        width: 200px;   
    }
}

.design2  {
    height: 15px;
    width: 0;
    background: #0c5896;
    border-radius: 200px;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.design  {
    height: 15px;
    width: 700px;
    background: #5CB6FF;
    border-radius: 200px;
}

.design2 {
    animation-name: design;
}

@keyframes design {
    to {
        width: 600px;
    }
}

/* PORTOFOLIO PAGE */
.porto-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #5CB6FF;
}

#portofolio {
    margin-top: 200px;
    margin-bottom: 200px;
}

.mark {
    padding: 4px 25px 4px 25px;
    background: #0c5896;
    border-radius: 20px 0px 20px 20px;
    position: absolute;
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.mark2 {
    padding: 4px 25px 4px 25px;
    background: #ffbc25;
    border-radius: 20px 0px 20px 20px;
    position: absolute;
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.post-preview {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.post1 {
    width: 400px;
    height: 400px;
    background: url(img/post1.png);
    background-size: cover;
    margin-right: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.post1:hover {
    opacity: 0.6;
    box-shadow: 10px 20px 33px #b7b7b7;
}

.post-preview2 {
    display: flex;
}

.post2 {
    width: 400px;
    height: 400px;
    background: url(img/post2.png);
    background-size: cover;
    margin-right: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.post2:hover {
    opacity: 0.6;
    box-shadow: 10px 20px 33px #b7b7b7;
}

#portofolio p {
    font-size: 12px;
    margin-top: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.container-blog {
    display: flex;
    margin: 0 auto;
}

.frame-blog {
    height: 400px;
    width: 600px;
    background: #5CB6FF;
    border-radius: 20px;
    margin: 100px 30px 100px 0;
    cursor: pointer;
    background: url(img/original.jpg);
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.frame-blog:hover {
    opacity: 0.6;
    margin-top: 90px;
}

.frame-blog2:hover {
    opacity: 0.6;
    margin-top: 90px;
}

.frame-blog2 {
    height: 400px;
    cursor: pointer;
    width: 400px;
    background: url(img/ahegao.jpg);
    background-size: cover;
    border-radius: 20px;
    margin: 100px 30px 100px 0;
    transition: 0.3s ease-in-out;
}

.frame-blog h3 {
    margin-top: 194px;
    margin-left: 30px;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.frame-blog p {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.frame-blog2 h3 {
    margin-top: 194px;
    margin-left: 30px;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.frame-blog2 p {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    padding-bottom: 41px;
    margin-top: 10px;
}


.opacity-blog {
    background: #00000087;
    border-radius: 20px;
}
/* FOOTER SECTION */

footer {
    display: grid;
}

.footer-desc {
    background: #5CB6FF;
}

.footer-desc p {
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
}

.footer-desc ul {
    display: flex;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-desc ul li {
    list-style-type: none;
    margin-left: 40px;
}

.footer-desc ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.footer-desc ul li a:hover {
    padding: 7px 30px 7px 30px;
    background: #0c5896;
    border-radius: 20px;
}